@media screen {
  html:not(.no-js) [data-aos^='fade'][data-aos^='fade'] {
    opacity: 0;
    transition-property: opacity, transform;
  }
  html:not(.no-js) [data-aos^='fade'][data-aos^='fade'].aos-animate {
    opacity: 1;
    transform: none;
  }
  html:not(.no-js) [data-aos='fade-up'] {
    transform: translate3d(0, 100px, 0);
  }
  html:not(.no-js) [data-aos='fade-down'] {
    transform: translate3d(0, -100px, 0);
  }
  html:not(.no-js) [data-aos='fade-right'] {
    transform: translate3d(-100px, 0, 0);
  }
  html:not(.no-js) [data-aos='fade-left'] {
    transform: translate3d(100px, 0, 0);
  }
  html:not(.no-js) [data-aos='fade-up-right'] {
    transform: translate3d(-100px, 100px, 0);
  }
  html:not(.no-js) [data-aos='fade-up-left'] {
    transform: translate3d(100px, 100px, 0);
  }
  html:not(.no-js) [data-aos='fade-down-right'] {
    transform: translate3d(-100px, -100px, 0);
  }
  html:not(.no-js) [data-aos='fade-down-left'] {
    transform: translate3d(100px, -100px, 0);
    /**
    * Zoom animations:
    * zoom-in, zoom-in-up, zoom-in-down, zoom-in-left, zoom-in-right
    * zoom-out, zoom-out-up, zoom-out-down, zoom-out-left, zoom-out-right
    */
  }
  html:not(.no-js) [data-aos^='zoom'][data-aos^='zoom'] {
    opacity: 0;
    transition-property: opacity, transform;
  }
  html:not(.no-js) [data-aos^='zoom'][data-aos^='zoom'].aos-animate {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }
  html:not(.no-js) [data-aos='zoom-in'] {
    transform: scale(0.6);
  }
  html:not(.no-js) [data-aos='zoom-in-up'] {
    transform: translate3d(0, 100px, 0) scale(0.6);
  }
  html:not(.no-js) [data-aos='zoom-in-down'] {
    transform: translate3d(0, -100px, 0) scale(0.6);
  }
  html:not(.no-js) [data-aos='zoom-in-right'] {
    transform: translate3d(-100px, 0, 0) scale(0.6);
  }
  html:not(.no-js) [data-aos='zoom-in-left'] {
    transform: translate3d(100px, 0, 0) scale(0.6);
  }
  html:not(.no-js) [data-aos='zoom-out'] {
    transform: scale(1.2);
  }
  html:not(.no-js) [data-aos='zoom-out-up'] {
    transform: translate3d(0, 100px, 0) scale(1.2);
  }
  html:not(.no-js) [data-aos='zoom-out-down'] {
    transform: translate3d(0, -100px, 0) scale(1.2);
  }
  html:not(.no-js) [data-aos='zoom-out-right'] {
    transform: translate3d(-100px, 0, 0) scale(1.2);
  }
  html:not(.no-js) [data-aos='zoom-out-left'] {
    transform: translate3d(100px, 0, 0) scale(1.2);
    /**
    * Slide animations
    */
  }
  html:not(.no-js) [data-aos^='slide'][data-aos^='slide'] {
    transition-property: transform;
    visibility: hidden;
  }
  html:not(.no-js) [data-aos^='slide'][data-aos^='slide'].aos-animate {
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
  html:not(.no-js) [data-aos='slide-up'] {
    transform: translate3d(0, 100%, 0);
  }
  html:not(.no-js) [data-aos='slide-down'] {
    transform: translate3d(0, -100%, 0);
  }
  html:not(.no-js) [data-aos='slide-right'] {
    transform: translate3d(-100%, 0, 0);
  }
  html:not(.no-js) [data-aos='slide-left'] {
    transform: translate3d(100%, 0, 0);
    /**
    * Flip animations:
    * flip-left, flip-right, flip-up, flip-down
    */
  }
  html:not(.no-js) [data-aos^='flip'][data-aos^='flip'] {
    backface-visibility: hidden;
    transition-property: transform;
  }
  html:not(.no-js) [data-aos='flip-left'] {
    transform: perspective(2500px) rotateY(-100deg);
  }
  html:not(.no-js) [data-aos='flip-left'].aos-animate {
    transform: perspective(2500px) rotateY(0);
  }
  html:not(.no-js) [data-aos='flip-right'] {
    transform: perspective(2500px) rotateY(100deg);
  }
  html:not(.no-js) [data-aos='flip-right'].aos-animate {
    transform: perspective(2500px) rotateY(0);
  }
  html:not(.no-js) [data-aos='flip-up'] {
    transform: perspective(2500px) rotateX(-100deg);
  }
  html:not(.no-js) [data-aos='flip-up'].aos-animate {
    transform: perspective(2500px) rotateX(0);
  }
  html:not(.no-js) [data-aos='flip-down'] {
    transform: perspective(2500px) rotateX(100deg);
  }
  html:not(.no-js) [data-aos='flip-down'].aos-animate {
    transform: perspective(2500px) rotateX(0);
  }
}
